.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
.base {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Inter", sans-serif;
}
.base h1 {
  font-size: 1.2rem;
}
.base .otp-base {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.5rem;
}
.base .otp-base input {
  width: 1ch;
  padding: 1rem;
  border-top: 0px solid transparent;
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 3px solid rgba(0, 0, 0, 0.5);
  outline: none;
  font-size: 2rem;
  transition: all 0.2s ease;
}
.base .otp-base input:focus {
  border-bottom: 3px solid #574b90;
}
.base .button {
  visibility: hidden;
  position: absolute;
  margin-top: 2rem;
  right: 0;
  text-transform: uppercase;
  padding: 0.4rem;
  background: none;
  border: 1px solid #574b90;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.base .button.show {
  visibility: visible;
}
.base .button:hover {
  background: #574b90;
  color: #fff;
}
.base .otp-error {
  animation: shake 0.3s ease forwards;
  pointer-events: none;
}
.base .otp-error input {
  border-bottom: 2px solid red;
  pointer-events: none;
}
.base .otp-error input:focus {
  border-bottom: 2px solid red;
}
@keyframes shake {
  0% {
    transform: translateX(0);
}
  25% {
    transform: translateX(5px);
}
  50% {
    transform: translateX(-5px);
}
  75% {
    transform: translateX(5px);
}
  100% {
    transform: translateX(0);
}
}
